body {
  margin: 0;
}

@font-face {
  font-family: "CircularStdBold";
  src: url("/src/styles/fonts/CircularStd-Bold.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "CircularStdMedium";
  src: url("/src/styles/fonts/CircularStd-Medium.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "CircularStdBook";
  src: url("/src/styles/fonts/CircularStd-Book.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
